.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 10;
  cursor: pointer;
}

.profile__edit-form {
  display: flex;
  flex-direction: column;
  position: fixed;
  border: none;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
  padding: 20px;
  z-index: 20;
  width: 430px;
  max-width: 90vw;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10px;
  box-sizing: border-box;
}

.profile__edit-form-input {
  width: 100%;
  padding: 13px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-weight: 600;
  margin-bottom: 5px;
}

.profile__edit-form-button {
  width: 100%;
  padding: 13px;
  background-color: #c4c4c4;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.profile__close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 30;
}

.profile__close-button:hover {
  opacity: 0.7;
}

.profile__edit-form-header {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .profile__edit-form {
    width: 90%;
    height: auto;
    padding: 10px;
  }

  .profile__edit-form-input,
  .profile__edit-form-button {
    width: 100%;
    padding: 10px;
  }

  .profile__edit-form-header {
    font-size: 18px;
  }

  .profile__close-button {
    top: -5px;
    right: -5px;
  }

  .profile__close-icon {
    width: 24px;
  }
}
