.header {
  display: block;
  max-height: 74px;
  padding-top: 45px;
  margin: auto;
  max-width: 880px;
  width: 100%;
  padding-bottom: 41px;
  border-bottom: 1px solid #545454;
}
.header__logo {
  display: block;
  max-width: 173px;
  width: 100%;
}
